table{
    background-color: blue;
    color:white;
    border-color: pink;
    /*border-top-width: 5px; border top only*/

    /*apply equals to all border */
    border-width: 5px;
}

tr:nth-child(even)
{
    background-color: red;
}

tr:nth-child(odd)
{
    background-color: yellow;
    color:black;
}

